*{
    margin:0px;
    padding:0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 112%;
}

#root{
    text-align:center;
    ;
}
.calculator-title{
    font-size:30px;
    background: radial-gradient(#c3c5dd,#353030);
    width: 600px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
    border: 2px solid ;
    color: #f80727;
}
.mainCalc{
    margin:0px;
    padding:0px;
    border-radius: 0px;
    box-sizing: border-box;
}
.screen-row input{
    width: 600px;
    background: #222222;
    border: 0px;
    color: #ffffff;
    padding: 10px;
    text-align: right;
}
input[type="button"]{
    width: 200px;
    background: #ffffff;
    border: 1px solid #222;
    padding: 20px 30px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type="button"]:active{
    background: #ccc;
}

.btnaction {
    background-color: #ffcc0e !important;
}